  body {
            background-color: #f4f6f9;
        }

        .titulo-principal {
            font-weight: 700;
        }

        .subtitulo-principal {
            color: #6c757d;
        }

        .card-form {
            border-radius: 15px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.08);
        }

        .seccion-titulo {
            font-weight: 600;
        }

        .icon-box {
            width: 40px;
            height: 40px;
            background-color: #e9ecef;
            border-radius: 8px;
        }

        .required {
            color: red;
        }


.list-group-item {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.list-group-item h6 {
    -weight: 600;
}

.badge {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
}

.list-group-item .btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.inventario{
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    margin-bottom: 10px;
}